.mainContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 64px;
}

.dataContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 650px;
}

.header {
  text-align: center;
  font-size: 32px;
  font-weight: 600;
}

.bio {
  text-align: center;
  margin-top: 16px;
}

.waveButton {
  cursor: pointer;
}


.wave-container {
  border: none;  
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.blob {
  height: 200px;
  width: 200px;
  transform: scale(5);
  animation: pulse-black 2s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
}

.message-error {
  color: red;
  width: 100%;
  text-align: center;
}

.message-input {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.message-input input {
  height: 50px;
  width: 30%;
  font-size: 24px;
  border: 1px solid #ccc;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.60);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  }
  
  50% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  
  100% {
    transform: scale(0.60);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}
